---
import Layout from "@/Layout.astro";
import {Icon} from "astro-icon/components"
---
<Layout title="gmes - bromine" desc="bromine's gmes page">
  <script
		src="@/utils/gmes.ts"
		></script>


<div class="w-full sticky top-0 z-50 backdrop-blur backdrop-opacity-70 shadow-md flex justify-center py-3">
	<input 
		id="search" 
		type="text" 
		placeholder="Search gmes..." 
		class="bg-surface text-text focus:outline-none shadow rounded-md w-1/2 px-4 py-2"
	>
</div>


	<section id="gmeContainer"></section>
<script async="async" data-cfasync="false" src="//learningbuildingroughly.com/b113e1888ef757be96cdcc722c0f31c8/invoke.js"></script>
<div id="container-b113e1888ef757be96cdcc722c0f31c8"></div>
	<div id="gmePageContainer" class="bg-surface/90 hidden fixed inset-0 z-[999] flex flex-col items-center justify-start p-5 md:p-10 box-border">
			<div class="flex justify-between items-center w-full  mb-4">

            <button id="backBtn" class="p-3 bg-surface rounded-lg transition-all duration-200 outline-2 outline-offset-2 outline-muted flex items-center space-x-2">
							<Icon name="ph:arrow-left" class="size-5"/>
                <span>Back</span>
						</button>

						<button id="fullscreenBtn" class="p-3 bg-surface rounded-lg transition-all duration-200 outline-2 outline-offset-2 outline-muted flex items-center space-x-2" title="Fullscreen">
							<Icon name="ph:arrows-out" class="size-5"/>
                <span>Fullscreen</span>
            </button>
				</div>

        <h2 id="gmePageTitle" class="text-3xl font-bold mt-4 mb-4 text-center"></h2>
        <iframe id="gmePageFrame" class="bg-surface/95 w-full flex-grow border-none rounded-xl shadow-lg outline-2 outline-offset-2 outline-muted" allowfullscreen></iframe>
    </div>
</Layout>
